/*Variables*/
:root {
    --font-family: verdana, serif;
    --text-color: white;
    --bg-color: #8783c7;
    --bg-color-dark: #4a486e;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --primary-color: #f5d902;
    --secondary-color: #f50515;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Big components*/

body {
    background-color: var(--bg-color);
}

html {
  scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding: 1.5rem 3.5rem;
    background: linear-gradient(to bottom, var(--bg-color-dark), var(--bg-color));
    background-color: var(--bg-color-dark);
    /*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);*/
}

/*Lists*/

ul, ol  {
    text-align: left;
    justify-content: center;
    margin-left: 12px;
}

nav ul {
    display: flex;
    gap: 2rem;
}

/*Paragraphs and headers*/

p {
    color: var(--text-color);
    text-align: left;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 20px;
}

h1 {
    color: var(--text-color);
    text-align: left;
    justify-content: center;
}

/*Links*/

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

/*Custom classes*/

.box{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    background: linear-gradient(to bottom, var(--bg-color-dark), var(--bg-color));
    width: 50rem;
    padding: 0.625rem 2.5rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    justify-content: center;
}



.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img {
    height: 37.5rem;
    width: 37.5rem;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}