body {font-size: small; font-family: verdana, arial, sans-serif;
    max-width: 800px; margin: 0 auto; padding: 10px}
p, ul, ol {margin-top: 0}
img {border: 0; vertical-align: top}
ul.noindent {padding-left: 8px; margin-left: 8px}
ol.noindent {padding-left: 8px; margin-left: 8px}
.noindent li {margin-bottom: 0.5em}
.ref {margin-left: 1.5em}
.ref p {text-indent: -1.5em; margin-bottom: 0.5em}
a {text-decoration: none; color: blue}
a:hover {text-decoration: underline}
h1 {color: white; background-color: goldenrod; font-size: 1.5em; font-weight: normal;
    margin: 0; padding: 0.2em 0 0.3em 0.5em}
h1 + div {text-align: right; margin-bottom: 1em}
h3, h4 {margin-bottom: 0.5em}

.figLeft, .figCenter, .figRight {width: 35%; max-width: max-content; min-width: min-content}
.figLeft {float: left; margin-right: 2%}
.figCenter {margin: 0 auto}
.figRight {float: right; margin-left: 2%}
.figCenterRight {margin: 0 auto; width: 80%; clear: both}
.figLeft img, .figCenter img, .figRight img {width: 100%; max-width: max-content}
.figCenterRight img {float: left; padding-right: 2%; margin-bottom: 1em; width: 50%;
    max-width: max-content}
.figLeft, .figCenter, .figRight, .figCenterRight {font-style: italic; font-size: 0.9em}
div.figCenter, div.figRight, div.figLeft {margin-bottom: 1em}

p, li {text-align: justify}

fieldset {display: inline-block; vertical-align: top}
fieldset:not(:first-of-type) {margin-left: 1em}
.item label, input {display: inline-block; vertical-align: middle}
.item label {width: 45px; text-align: right; padding-right: 0.5em}
input[type=number] {width: 50px}
input[type=range] {width: 129px}
output {display: inline-block; text-align: left}

:root {--chartW: 294px; --chartH: 150px; --blurBuf: 30px}
#stageFrame {position: relative; overflow: hidden; margin-bottom: 1em; width: 700px; height: 600px; margin: auto}
#stage {position: absolute; top: calc(var(--blurBuf) * -1); left: calc(var(--blurBuf) * -1); width: 600px; height: 450px}
#device div:not(:first-of-type) {margin-top: 5px}
#control {display: inline-block; white-space: nowrap}
#chart {display: block; overflow: hidden; width: var(--chartW); height: var(--chartH);
    border: 1px solid; margin-bottom: 5px; position: relative; background: gainsboro}
.dragLayer {width: calc(var(--chartW) * 3); height: calc(var(--chartH) * 3);
    display: block; opacity: 0; position: absolute; top: calc(var(--chartH) * -1);
    left: calc(var(--chartW) * -1)}
#focusLine {background: white; color: white; width: 1px; border: none;
    border-left: 1px dashed grey; height: var(--chartH); position: absolute;
    mix-blend-mode: multiply}
#chart:hover {cursor: grab}
#rays {width: var(--chartW); height: var(--chartH); background: gainsboro;
    border: 1px solid}

.figPair {text-align: center}
.figPair div {display: inline-block; vertical-align: top}
.figPair div:first-child {width: 247px; margin-right: 40px}
.figPair div:last-child {width: 240px; text-align: left}

.figPairB {text-align: center}
.figPairB div {display: inline-block; vertical-align: middle}
.figPairB div:first-child {width: 50%; margin-right: 5%}
.figPairB img:first-child {width: 100%}
.figPairB div:last-child {width: 35%; text-align: left}

#footer {text-align: center; margin: 2em auto; width: 370px}
#footer p {text-align: center}